body {
  margin: 0;
  overflow: hidden;
}

#game {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #101010;
  user-select: none;
  -webkit-user-select: none;
  color: #e0e0e0;
  font-size: 22px;
  font-family: "Space Grotesk", sans-serif;
  text-align: center;
}

.grid-container {
  margin: 0 auto;
}

.grid {
  display: flex;
  flex-direction: column;
}

.grid-row {
  display: flex;
  flex-direction: row;
}

.grid-cell {
  width: var(--cell-size);
  height: var(--cell-size);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eeeeee;
  background-image: url(images/grass.png);
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: pixelated;
}

.sidebar {
  height: 100vh;
  width: calc(2 * var(--cell-size));
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  background-color: #202020;
}

.sidebar button {
  width: var(--cell-size);
  margin: calc(var(--cell-size) / 2) 0;
  padding: 8px 0;
  font-size: 14px;
}

.sidebar-holder {
  width: var(--cell-size);
  height: var(--cell-size);
  margin-bottom: calc(var(--cell-size) / 2);
  flex-shrink: 0;
  background: #383838;
}

.tile {
  width: var(--cell-size);
  height: var(--cell-size);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: #eeeeee;
  transition: 100ms;
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: pixelated;
}

.tile-draggable {
  cursor: grab;
}

.popup-background {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00000080;
}

.popup {
  width: 580px;
  background: #202020;
  border: 2px #101010 solid;
}

.popup-header,
.popup-content,
.popup-button-container {
  width: calc(100% - 64px);
  padding: 8px 32px;
  margin-bottom: 8px;
}

.popup-header {
  background: #101010;
  font-weight: bold;
  margin-bottom: 8px;
}

.popup-button {
  margin: 0 8px;
}

button {
  padding: 8px 32px;
  color: inherit;
  background: #383838;
  border: none;
  outline: none;
  font: inherit;
}

button:hover {
  background: #424242;
}
