body {
  margin: 0;
}

#game {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #101010;
  user-select: none;
  -webkit-user-select: none;
}

.grid-container {
  margin: 0 auto;
}

.grid {
  display: flex;
  flex-direction: column;
}

.grid-row {
  display: flex;
  flex-direction: row;
}

.grid-cell {
  width: var(--cell-size);
  height: var(--cell-size);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eeeeee;
  border: 1px #303030 solid;
}

.sidebar {
  background-color: #202020;
  height: 100vh;
  width: calc(2 * var(--cell-size));
}

.draggable-tile {
  width: var(--cell-size);
  height: var(--cell-size);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: #eeeeee;
  outline: 1px #ff4040 solid;
  cursor: pointer;
  transition: 200ms ease-out;
}
